{% extends "base.html" %}

{% block content %}

<div class="login-container">

    <h2>Text To Speech Converter</h2>

    <form method="POST" id="ttsForm">

        <textarea
            name="text"
            id="text"
            rows="6"
            placeholder="Enter text here..."
            style="width:90%; padding:10px; border-radius:10px;">
        </textarea>
        <br><br>

    <label>Select Voice:</label>

    <audio controls>
    <source src="/static/audio/output.mp3">
</audio>

<select id="voice">

    <option value="david">
        Male Voice
    </option>

    <option value="zira">
        Female Voice
    </option>

</select>

        <button type="submit">
            Convert
        </button>

    </form>

</div>

<a href="/static/audio/output.mp3" download>
    Download Audio
</a>

<script>

document.getElementById("ttsForm").addEventListener("submit", function(event) {

    event.preventDefault();

    let text = document.getElementById("text").value;

    let selectedVoice = document.getElementById("voice").value;


    let speech = new SpeechSynthesisUtterance(text);

    let voices =
    speechSynthesis.getVoices();

if (selectedVoice === "david") {

    speech.voice =
        voices.find(v =>
            v.name.includes("David"));

}
else if (selectedVoice === "zira") {

    speech.voice =
        voices.find(v =>
            v.name.includes("Zira"));
}

    speech.lang = "en-US";

    speech.rate = 1;

    speech.pitch = 1;

    speech.volume = 1;

    speechSynthesis.speak(speech);

    fetch("/tts", {

        method: "POST",

        headers: {
            "Content-Type": "application/x-www-form-urlencoded"
        },

        body: "text=" + encodeURIComponent(text)

    });

});

</script>

{% endblock %}

